bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/.idea.FasterRsyncNet/.idea/discord.xml
FasterRsyncNet.sln.DotSettings.user
/SharedAssets
.idea/*
/FasterRsyncNet.Benchmarks
/FasterRsyncNet.Playground
